@font-face {
	font-family: 'Avenir Next';
	src: url(../fonts/avenir-next-demibold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url(../fonts/avenir-next-regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body,
svg text {
  font-family: 'Avenir Next';
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h2::first-letter {
  text-transform: uppercase;
}

.fullname > *:first-child {
  text-transform: capitalize;
}

.fullname > *:nth-child(2) {
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

p {
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.topic {
  display: flex;
}

.topic:first-of-type:not(:first-child) {
  margin-top: 1em;
}

.topic:not(:first-of-type) {
  margin-top: 0.5em;
}

.topic::before {
  content: '•';
  margin-right: 0.5em;
}

.technologies {
  --icon-size: 2.62em;

  font-size: 0.625em;
  font-weight: bold;
}

.technologies > * {
  width: var(--icon-size);
  display: flex;
  flex-direction: column;
}

.technologies > * + * {
  margin-left: auto;
}

.technologies > *:first-child {
  margin-right: 0.75em;
}

.technologies > *:not(.uppercase) {
  text-transform: capitalize;
}

.technologies svg {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: 0.5125em;
}

.technologies > .vuejs {
  --icon-width: calc(var(--icon-size) + 0.35em);
}

.technologies > .vuejs,
.technologies > .vuejs svg {
  width: var(--icon-width);
}

.technologies > *:nth-child(n + 3) {
  align-items: center;
}

.technologies > *:nth-child(n + 5) {
  align-items: flex-end;
}

.positions {
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
  line-height: 1;
}

.timelapse {
  display: flex;
}

.time + .time {
  margin-left: 1.5em;
}

.company {
  margin-bottom: 0.33em;
  display: flex;
}

.group {
  margin-left: 1.25em;
}

.month {
  text-transform: capitalize;
}

.position-description .company {
    --tech-icon-size: 1.5em;

    position: relative;
    padding-right: calc(var(--tech-icon-size) + 0.5em);
}

.position-description .company svg {
  max-height: var(--tech-icon-size);
  max-width: var(--tech-icon-size);
  position: absolute;
  top: 0;
  right: 0;
}

/* DEBUG *
*,
*::before,
*::after {
  --debug-color: rgba(255, 0, 255, 12.5%);

  box-shadow: inset 0 0 0 1px var(--debug-color);
  background-color: var(--debug-color);
}
/* END DEBUG */
