@font-face {
  font-family: 'Avenir Next';
  src: url(../fonts/avenir-next-demibold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(../fonts/avenir-next-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --columns-gap: 4.125em;
  --column-capped-width: 20.688em;
  
  --content-h-padding: max(
    0.666em,
    env(safe-area-inset-left),
    env(safe-area-inset-right),
    3.682dvw
  );
}

html,
body,
svg text {
  font-family: 'Avenir Next';
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h2::first-letter {
  text-transform: uppercase;
}

.fullname > *:first-child {
  text-transform: capitalize;
}

.fullname > *:nth-child(2) {
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

p {
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
  line-height: 1.375;
}

.uppercase {
  text-transform: uppercase;
}

.technologies {
  --icon-size: 3em;

  font-size: 0.638em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.technologies > * {
  width: var(--icon-size);
  display: flex;
  flex-direction: column;
  row-gap: 0.375em;
}

.technologies > *:not(.uppercase) {
  text-transform: capitalize;
}

.technologies svg {
  width: var(--icon-size);
  aspect-ratio: 1;
}

.technologies > *:nth-child(n + 3) {
  align-items: center;
}

.technologies > *:nth-child(n + 5) {
  align-items: flex-end;
}

.topic {
  display: flex;
}

.topic:first-of-type:not(:first-child) {
  margin-top: 1em;
}

.topic:not(:first-of-type) {
  margin-top: 0.5em;
}

.topic::before {
  content: '•';
  margin-right: 0.5em;
}

.positions {
  font-weight: bold;
  white-space: nowrap;
  text-align: left;
  line-height: 1;
}

.timelapse {
  display: flex;
  column-gap: 1.5em;
}

.company {
  margin-bottom: 0.33em;
  display: flex;
}

.group {
  margin-left: 1.25em;
}

.month {
  text-transform: capitalize;
}

.position-description .company {
    --tech-icon-size: 1.5em;

    position: relative;
    padding-right: calc(var(--tech-icon-size) + 0.5em);
}

.position-description .company svg {
  max-height: var(--tech-icon-size);
  max-width: var(--tech-icon-size);
  position: absolute;
  top: 0;
  right: 0;
}

.animated {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  transition-property:
    color,
    background-color,
    opacity,
    visibility,
    height,
    width,
    transform,
    transform-origin,
    filter,
    left,
    top,
    right;
}

@media (hover: hover) {
  .hover-fx:hover {
    opacity: 0.75;
  }
}

p {
  color: rgba(var(--current-color-rgb-components), 85%);
}

strong {
  color: rgb(var(--current-color-rgb-components));
}

html {
  background-color: var(--doc-bg-color);
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

body {
  --current-color-rgb-components: var(--primary-text-color-rgb-components);
  
  font-size: max(var(--vw-relative-font-size), var(--min-font-size));
  color: rgb(var(--current-color-rgb-components));
  line-height: 1.25;
}

.root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

svg text {
  fill: var(--primary-text-color);
}

h1 {
  line-height: 0.9;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
}

h4,
h5 {
  margin: 2em 0 0.5em 0;
}

h4 {
  font-size: 1em;
  opacity: 60%;
}

h5,
h6 {
  font-size: 0.8em;
}

h5 {
  opacity: 50%;
}

h6 {
  opacity: 40%;
  margin: 1em 0 0.25em 0;
}

header,
main {
  background-color: var(--main-bg-color);
}

header {
  --planet-glow-height: 33.1665em;
  --stars-height: 1050px;
  --stars-end: calc(var(--planet-glow-height) + var(--stars-height));

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 2em;
  box-sizing: border-box;

  background-image:
    linear-gradient(
      to top,
      transparent var(--planet-glow-height),
      var(--doc-bg-color) var(--planet-glow-height),
      rgba(var(--doc-bg-color-rgb-components), 66%) var(--stars-end)
    ),

    url(/cv/images/stars.png),
    url(/cv/images/stars.png),
    url(/cv/images/header_background.svg),

    linear-gradient(
      to top,
      transparent 15.625em,
      var(--doc-bg-color) var(--planet-glow-height)
    );

  background-size:
    auto,
    auto,
    auto,
    max(100%, 1440px) auto,
    auto;

  background-position:
    center bottom,
    center bottom var(--stars-end),
    center bottom var(--planet-glow-height),
    center bottom,
    center bottom;

  background-repeat:
    no-repeat,
    repeat-x,
    repeat-x,
    no-repeat,
    no-repeat;
}

@media (max-width: 570px) {
  header {
    justify-content: space-around;
    row-gap: 3.5em;
  }
}

.column {
  flex: 1;
  text-align: left;
}

@media (max-width: 570px) {
  .column {
    max-width: var(--column-capped-width);
  }
}

.business-card {
  display: flex;
  align-items: center;
  column-gap: 1.771em;
  row-gap: 3.5em;
}

@media (max-width: 965px) {
  .business-card {
    flex: none;
  }
}

@media (max-width: 570px) {
  .business-card {
    flex-direction: column;
  }
}

.business-card h1 {
  position: relative;
}

.business-card h2 {
  max-width: 13.25em;
}

.fullname {
  opacity: 60%;
  max-height: 0.792em;
  padding-right: 1.5465em;
}

.short-introduction {
  display: flex;
  flex-direction: column;
  row-gap: 1.017em;
  flex: 1 1 auto;
}

@media (max-width: 570px) {
  .short-introduction {
    align-self: stretch;
  }
}

.avatar {
  --size: 7.083em;

  flex: none;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  object-fit: cover;
  object-position: center -0.75em;
  box-sizing: border-box;
  border: solid 1px rgba(var(--doc-bg-color-rgb-components), 33%);
  background-color: white;
}

@media (hover: none) {
  .contact::after {
    --expanse: 0.5em;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: calc(-1 * var(--expanse));
    padding: var(--expanse);
    border-radius: 50%;
  }
}

main {
  flex: 1 1 auto;

  background-image:
    linear-gradient(to top, var(--doc-bg-color), transparent 20%),
    linear-gradient(var(--main-bg-color), var(--main-snd-bg-color));
}

.expertise,
.typical-apps,
.trainning {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--columns-gap);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  isolation: isolate;
}

.expertise,
.typical-apps,
.trainning {
  row-gap: 1.483em;
}

:where(
  .expertise,
  .trainning
)::before {
  --h-expanse: 5em;
  
  content: '';
  position: absolute;
  top: calc(-1 * var(--h-expanse));
  left: calc(-1 * (100vw - 100%) / 2);
  width: 100vw;
  height: calc(100% + 2 * var(--h-expanse));
  z-index: -1;
  background-position: center;
  background-size: auto 94%;
  background-repeat: no-repeat;
  filter: blur(0.625em);
}

.expertise::before {
  background-image: url(/cv/images/high_cloud.svg);
}

:where(
  .expertise,
  .typical-apps,
  .trainning,
  footer
) > h2 {
  width: 100%;
}

:where(
  .expertise,
  .typical-apps,
  .trainning
) > p,
.position-description {
  flex: 1 1 max(40%, 21.075em);
}

@media (max-width: 570px) {
  .expertise,
  .typical-apps,
  .trainning {
    max-width: var(--column-capped-width);
  }
}

.topic {
  margin-left: 1em;
}

.trainning {
  opacity: 50%;
}

.trainning::before {
  background-image: url(/cv/images/low_cloud.svg);
}

.trainning u {
  text-decoration: none;
  display: block;
  margin-bottom: 0.75em;
}

.trainning u::before,
.trainning u::after {
  --side-margin: 0.125em;
  
  font-weight: bold;
  position: relative;
  top: -0.0625em;
}

.trainning u::before {
  content: '[';
  margin-right: var(--side-margin);
}

.trainning u::after {
  content: ']';
  margin-left: var(--side-margin);
}

@media (max-width: 570px) {
  .positions-wrapper {
    max-width: var(--column-capped-width);
  }
}

.positions-wrapper h2 {
  margin-bottom: 1.483em;
  opacity: 75%;
}

footer {
  opacity: 75%;
}

footer > h2 {
  margin-bottom: 1.483em;
}

@media (max-width: 570px) {
  footer {
    max-width: var(--column-capped-width);
  }
}

.position-description p:not(:last-child) {
  margin-bottom: 1em;
}

.position-description .company {
    margin-top: 0;
}

.position-description .company .group {
  color: var(--main-bg-color);
  opacity: 50%;
}

