@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriad-pro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriad-pro-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriad-pro-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: white;
  font-family: 'Myriad Pro';
}

.position-wrapper,
.position,
.content,
footer {
  display: contents;
}

.a4 {
  width: 21cm;
}

li::first-letter {
  text-transform: uppercase;
}

.btn {
  text-transform: capitalize;
}

ul.arrow-list {
  font-size: 12pt;
}

ul.arrow-list li, ul.arrow-list li.plain {
  list-style-image: url(../images/right-gray-arrow-plain.png);
}

ul.arrow-list li.open {
  list-style-image: url(../images/right-black-arrow-plain.png);
}

ul.arrow-list li.void {
  list-style-image: none;
  list-style-type: none;
}

ul.arrow-list>li {
  margin-bottom: 0.25em;
}

ul.arrow-list>ul {
  margin-bottom: 1em;
}

ul.arrow-list ul li {
  list-style-image: url(../images/right-gray-arrow-outline.png);
  color: var(--oldblack);
  margin-bottom: 0.4em;
  line-height: 1em;
}

li.none, .simpleList li.none, .arrow-list li.none {
  list-style: none;
  margin-left: 0;
}

ul.simpleList li {
  margin-left: 27px;
}

ul.simpleList.secondLvl li {
  margin-left: 17px;
  list-style-type: circle;
  font-size: 0.85em;
}

/* ====== Headings ====== */

/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */

/*h1, .h1{font-size:196%; font-weight:normal; font-style: normal; color:#AE0345;}*/

h2, .h2 {
  font-weight: 600;
}

h3, .h3 {
  color: #AE0345;
}

h4, .h4 {
  font-weight: 600;
}

/*h5, .h5{font-size:108%; font-weight:bold; font-style: normal; color:#AE0345;}*/

/*h6, .h6{font-size:108%; font-weight:normal; font-style: italic; color:#333;}*/

@media print {
  .page {
    page-break-after: always;
  }
  .block-spacing {
    display: block;
    height: 1cm;
  }
  .hide-on-print {
    display: none;
  }
  .blank-on-print {
    visibility: hidden;
  }
}

@media screen {
  .block-spacing {
    display: none;
  }
}

.tinytext {
  font-size: 7.5pt;
}

.mediumtext {
  font-size: 9pt;
}

.halfbigtext {
  font-size: 10.5pt;
}

.bigtext, .tinytitle {
  font-size: 12pt;
}

.hugetext {
  font-size: 15pt;
}

.weak {
  font-size: 85%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.break-word {
  word-break: break-all;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.caps {
  text-transform: capitalize;
}

.cap-first::first-letter {
  text-transform: capitalize;
}

.semi-bold {
  font-weight: 600;
}

.airy {
  letter-spacing: 0.0625em;
}

.photo {
  height: 64px;
  border-radius: 3.5%;
}

.hidden {
  visibility: hidden;
}

.step-up {
  margin-top: -30px;
}

.mlxl {
  margin-left: 25px;
}

.mbxl {
  margin-bottom: 25px;
}

.mbxxl {
  margin-bottom: 35px;
}

.inverted {
  background-color: #dfdfdf;
  color: white;
}

.inline-block {
  display: inline-block;
}

/* buttons */

.btn {
  display: inline-block;
  border-radius: 0.1em;
  padding: 0.25em 0.4em 0.1em 0.4em;
  margin: 0.2em 0.12em;
  vertical-align: middle;
  box-sizing: border-box;
}

.btn.hollow {
  border: solid 1px;
}

.btn.lightblue {
  color: #444;
  background-color: #bfbfff;
}

.btn.pastel {
  color: #909090;
  background-color: #dfdfdf;
}

.btn.ghost {
  color: #909090;
}

hr.dark {
  border-color: black;
}

/* colors */

:root {
  --oldblack: #5b5b5b;
}

.pastel {
  color: #bbb;
}

.silver-light {
  color: #909090;
}

.skyblue {
  color: #8888ff;
}

.oldblack {
  color: var(--oldblack);
}

.black {
  color: black;
}

/* ----- .silver (extends complex) ----- */

.silver, .silver .inner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.silver .inner {
  border-color: #ededed;
}

.silver b {
  background-image: url(skin/excerpt.png);
}

.silver .top {
  height: 1px;
}

.silver .bottom {
  height: 6px;
  margin-top: -6px;
}

/* margin top equal to - height of bottom */

.silver .br, .silver .bl {
  height: 12px;
  margin-top: -6px;
}

/* margin top = bottom height - corner height */

.light {
  color: #4D4D4D;
  font-size: 120%;
  padding: 5px 10px;
  border-bottom: 1px solid #c7c7c7;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  font-size: 100%;
  color: #4D4D4D;
  padding: 0;
}

.tabPosLeft .light li, .tabPosRight .light li {
  background: #fff url(skin/header_gradient_light.png) repeat-x left bottom;
  /* belongs in light */
}

.tabPosBottom .light {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#E2E2E2), to(#FFFFFF));
  background-image: -moz-linear-gradient(0% 8% 270deg, #E2E2E2, #FFFFFF, #FFFFFF 77%);
}

.packed-xps li {
  display: inline-block;
  line-height: 2em;
}

.packed-xps li> :first-child {
  margin-right: 0.5em;
}

.packed-xps li:nth-child(odd):not(:last-child) {
  margin-right: 2em;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.more {
  display: none;
}

.padding-left-15-percent {
  padding-left: 15%;
}