:root {
  --doc-bg-color-rgb-components: 2,0,30;
  --doc-bg-color: rgb(var(--doc-bg-color-rgb-components));
  --main-bg-color: #CECDFF;
  --primary-text-color-rgb-components: 235,235,235;
  --primary-text-color: rgb(var(--primary-text-color-rgb-components));
  --secondary-text-color-rgb-components: 41,16,98;
  --secondary-text-color: rgb(var(--secondary-text-color-rgb-components));
  --vw-relative-font-size: 0.83vw;
  --content-h-padding: max(0em, calc(3.6935vw - 1em));
  --transition-duration: 0.25s;
  --transition-timing-function: ease-in-out;
  --border-radius: 0.35em;
}

.animated {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  transition-property:
    color,
    background-color,
    opacity,
    visibility,
    height,
    width,
    transform,
    transform-origin,
    filter,
    left,
    top,
    right;
}

@media (hover: hover) {
  .hover-fx:hover {
    opacity: 0.75;
  }
}

html {
  background-color: var(--doc-bg-color);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  font-size: max(var(--vw-relative-font-size), 12px);
  line-height: 1.25;
}

.root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

svg text {
  fill: var(--primary-text-color);
}

h1 {
  --font-ratio: 2;
  --resolution-capped-font-size: max(calc(var(--font-ratio) * var(--vw-relative-font-size)), 18px);
  --normal-font-size: calc(var(--font-ratio) * 1em);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: min(var(--normal-font-size), var(--resolution-capped-font-size));
}

h2 {
  --font-ratio: 1.5;
  font-size: calc(var(--font-ratio) * 1em);
}

a * {
  display: none;
}

.translation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.09375em;
  color: #8EC7FF;
  text-decoration: none;
}

.translation::first-letter {
  text-transform: uppercase;
}

header,
main {
  background-color: var(--main-bg-color);
  padding: 0 var(--content-h-padding);
}

header,
.description {
  flex: none;
  display: flex;
  justify-content: space-between;
}

header {
  --min-height: 24.875em;
  --planet-glow-height: 49.75em;
  --stars-height: 1050px;
  --stars-end: calc(var(--planet-glow-height) + var(--stars-height));
  --top-padding-font-ratio: 4.42;
  --normal-top-padding: calc(var(--top-padding-font-ratio) * 1em);
  --resolution-fit-top-padding: calc(3.75 * var(--top-padding-font-ratio) * var(--vw-relative-font-size));
  --top-padding: min(var(--normal-top-padding), var(--resolution-fit-top-padding));

  align-items: flex-start;
  min-height: var(--min-height);
  box-sizing: border-box;
  padding: var(--top-padding) var(--content-h-padding);

  background-image:
    linear-gradient(
      to top,
      transparent var(--planet-glow-height),
      var(--doc-bg-color) var(--planet-glow-height),
      rgba(var(--doc-bg-color-rgb-components), 66%) var(--stars-end)
    ),
  
    url(/cv/images/stars.png),
    url(/cv/images/stars.png),
    url(/cv/images/header_background.svg),

    linear-gradient(
      to top,
      transparent 15.625em,
      var(--doc-bg-color) var(--planet-glow-height)
    );
  
  background-size:
    auto,
    auto,
    auto,
    max(100%, 1440px) auto,
    auto;
  
  background-position:
    center bottom,
    center bottom var(--stars-end),
    center bottom var(--planet-glow-height),
    center bottom,
    center bottom;

  background-repeat:
    no-repeat,
    repeat-x,
    repeat-x,
    no-repeat,
    no-repeat;
}

header h2:not(:last-child) {
  margin-bottom: max(0.72em, 15px);
}

header p {
  margin: 0;
}

.introductions {
  display: contents;
}

.column {
  flex: 1 1 auto;
  max-width: 31.04em;
  margin: 0 1em;
  text-align: left;
}

header .column:not(.long-introduction) {
  min-width: calc(320px - 2em);
}

header .column:not(.demos) {
  margin-bottom: 4.42em;
}

.business-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-card h2 {
  --resolution-fit-font-size: calc(var(--font-ratio) * var(--vw-relative-font-size));
  --resolution-capped-font-size: max(var(--resolution-fit-font-size), 14.5px);
  --normal-font-size: calc(var(--font-ratio) * 1em);

  font-size: min(var(--normal-font-size), var(--resolution-capped-font-size));
}

.short-introduction .web {
  display: none;
}

.short-introduction,
h2 {
  line-height: 1;
}

.avatar {
  --size: 7.5em;

  flex: none;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  object-fit: cover;
  object-position: center -0.75em;
  box-sizing: border-box;
  border: solid 1px rgba(var(--doc-bg-color-rgb-components), 33%);
  background-color: white;
  margin-right: 1em;
}

.avatar.print {
  display: none;
}

.short-introduction {
  width: 69.855%;
}

.fullname {
  opacity: 60%;
  margin-bottom: 0.54em;
}

.contact {
  --size: max(1.09em, 26.25px);

  position: relative;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background: no-repeat center/contain url(/cv/images/linkedin.svg);
}

@media (hover: none) {
  .contact::after {
    --expanse: 0.5em;
  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: calc(-1 * var(--expanse));
    padding: var(--expanse);
    border-radius: 50%;
  }
}

.technologies svg {
  color: #BBB74C;
}

.demos {
  flex: 2;
}

.demos-inner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.demos-inner-wrapper > .aspect-ratio-enforcer {
  width: 100%;
  max-height: 13.9875em;
  flex: none;

  /* DEBUG *
  background-color: rgba(255, 255, 0, 12.5%);
  /* END DEBUG */
}

.demo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: var(--top);
  left: var(--left);
  width: var(--size);
  box-sizing: border-box;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 62.5%);
  background: white no-repeat center/auto calc(100% + 2px);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1px rgba(var(--doc-bg-color-rgb-components), 12.5%);
  pointer-events: none;
  cursor: pointer;
  z-index: 0;
}

@media (hover: hover) {
  .demo:hover {
    border-color: white;
  }
}

@media (hover: none) {
  .demo.hover {
    border-color: white;
  }
}

.demo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  pointer-events: auto;
}

.demo > .aspect-ratio-enforcer {
  width: 100%;
  border-radius: 50%;
  flex: none;

  /* DEBUG *
  background-color: magenta;
  /* END DEBUG */
}

.demo-title {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  font-weight: bold;
  white-space: nowrap;
  line-height: 0.9;
  margin-top: 0.1em;
}

.flickr-coverflow .demo-title,
.mediterranean-war .demo-title {
  white-space: unset;
}

.demo.avalon-a {
  --size: 32.32%;
  --top: 103.75%;
  --left: -31.29%;

  max-width: 10em;
  background-image: url(/cv/images/avalona.png);
}

.demo.heimdall,
.demo.element-adapter,
.demo.workflow-ide {
  --size: 40.4%;
  max-width: 12.5em;
}

.demo:not(
  .heimdall,
  .workflow-ide,
  .flickr-coverflow
) .demo-title {
  color: var(--secondary-text-color);
}

.demo.heimdall {
  --top: 44.77%;
  --left: 5.07%;

  background-image: url(/cv/images/heimdall.png);
}

.demo.element-adapter {
  --top: 133.69%;
  --left: 40.34%;

  background-image: url(/cv/images/element_adapter.png);
}

.demo.workflow-ide {
  --top: 30.65%;
  --left: 52.97%;

  background-image: url(/cv/images/workflow_ide.png);
  background-position: left 60% center;
}

.demo.flickr-coverflow {
  --size: 26.26%;
  --top: 11.71%;
  --left: 93.05%;

  max-width: 8.125em;
  background-image: url(/cv/images/flickrcoverflow.png);
  background-size: auto 150%;
  background-position: left 66% center;
}

.demo.gare-o-loup {
  --size: 25.25%;
  --top: 129.67%;
  --left: 0.59%;

  max-width: 7.8125em;
  background-image: url(/cv/images/gare_o_loup.png);
  background-position: right center;
}

.demo.mediterranean-war {
  --size: 24.24%;
  --top: 177.70%;
  --left: 76.89%;

  max-width: 7.5em;
  background-image: url(/cv/images/mediterranean_war.png);
  background-position: left 70% center;
}

.demo.acoa {
  --size: 34.34%;
  --top: 105%;
  --left: 90.34%;

  max-width: 10.625em;
  background-image: url(/cv/images/acoa.jpg);
}

.link {
  --icon-size: 2.5em;
  --coordinate: 10.75%;

  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 33%);
  z-index: 1;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .demo:hover .link {
    visibility: visible;
    opacity: 1;
  }
}

@media (hover: none) {
  .demo.hover .link {
    visibility: visible;
    opacity: 1;
  }
}

.link::before,
.full {
  border-radius: 50%;
}

.link::before {
  content: '';
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  background: transparent no-repeat center/contain;
  pointer-events: auto;
  transition: var(--transition-duration) var(--transition-timing-function);
  transition-property: transform, filter;
}

.half {
  transform: rotateZ(45deg);
}

.top::before {
  top: var(--coordinate);
}

.left::before {
  left: var(--coordinate);
}

.right::before {
  right: var(--coordinate);
}

.top.left::before {
  transform-origin: bottom right;
  transform: translate(-50%, -50%) scale(0.825);
}

.half.top.right {
  transform-origin: bottom center;
}

.half.top::before,
.half.bottom::before {
  transform-origin: center center;
}

.half.top.right::before {
  right: 50%;
  top: -10%;
  transform: translate(-12.5%, -12.5%) scale(0.825) rotateZ(-45deg);
}

.half.bottom.left {
  transform-origin: top center;
}

.half.bottom.left::before {
  left: 50%;
  bottom: -10%;
  transform: translate(12.5%, 12.5%) scale(0.825) rotateZ(-45deg);
}

@media (hover: hover) {
  .demo:hover .top.left::before {
    transform: translate(-50%, -50%);
  }
  
  .demo:hover .top.right::before {
    transform: translate(50%, -50%);
  }
  
  .demo:hover .half.top.right::before {
    transform: translate(50%, -50%) rotateZ(-45deg);
  }
  
  .demo:hover .half.bottom.left::before {
    transform: translate(-50%, 50%) rotateZ(-45deg);
  }
}

@media (hover: none) {
  .demo.hover .top.left::before {
    transform: translate(-50%, -50%);
  }
  
  .demo.hover .top.right::before {
    transform: translate(50%, -50%);
  }
  
  .demo.hover .half.top.right::before {
    transform: translate(50%, -50%) rotateZ(-45deg);
  }
  
  .demo.hover .half.bottom.left::before {
    transform: translate(-50%, 50%) rotateZ(-45deg);
  }
}

.right,
.left,
.full {
  left: 0;
}

.top,
.full {
  top: 0;
}

.bottom {
  bottom: 0;
}

.full {
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  .half::before {
    filter: grayscale(100%) opacity(75%);
  }

  .half:hover::before {
    filter: unset;
  }
}

.half {
  width: 100%;
  height: 50%;
}

.half.top {
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}

.half.bottom {
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

.video::before {
  background-image: url(/cv/images/play-icon.svg);
}

.application::before {
  background-image: url(/cv/images/chrome.svg);
}

.github::before {
  background-image: url(/cv/images/github.svg);
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (display:flow-root) {
    .application::before {
      background-image: url(/cv/images/safari.svg);
    }
  }
}

@supports selector(:-moz-is-html) {
  .application::before {
    background-image: url(/cv/images/firefox.svg);
  }
}

main {
  flex: 1 1 auto;
  background-image: linear-gradient(var(--main-bg-color), #040031);
  text-align: center;
  padding-bottom: 4em;
}

main section {
  margin-bottom: 6.5em;
}

main h2,
.positions h2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
}

main .title-text {
  --padding: calc(1em / var(--font-ratio));
  --border-radius: calc(var(--padding) / 2);

  display: inline-block;
  padding: 0.6em var(--padding) 0 var(--padding);
  margin-left: calc(-1 * var(--padding));
}

main p {
  margin: 1em 0;
}

main .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 calc(320px - 2em);
  position: relative;
  background: transparent no-repeat bottom 1.5em right 1.5em/12.5em auto;
}

.descriptions {
  display: flex;
  justify-content: space-between;
}

.description h2 {
  opacity: 50%;
}

.column p {
  --expanse: 0.5em;

  background-color: var(--background-color);
  margin-right: calc(-1 * var(--expanse));
  margin-left: calc(-1 * var(--expanse));
  padding: var(--expanse);
  box-sizing: border-box;
  border-radius: var(--border-radius);
}

.expertise {
  --background-color: rgba(255, 255, 255, 33%);
  color: var(--secondary-text-color);
}

.expertise .column:first-child {
  background-image: url(/cv/images/cogs.svg);
}

.expertise .column:nth-child(2) {
  background-image: url(/cv/images/blueprint.svg);
}

.expertise .column:last-child {
  justify-content: flex-start;
  background-image: url(/cv/images/bulb.svg);
  background-size: auto 12.5em;
}

.typical-apps {
  --background-color: rgba(29, 10, 62, 33%);
  width: 64.5%;
  margin-right: var(--content-h-padding);
}

.typical-apps .column:first-child {
  background-image: url(/cv/images/laptop.svg);
}

.typical-apps .column:last-child {
  background-image: url(/cv/images/mobile.svg);
  background-size: auto 12.5em;
}

.trainning {
  --background-color: rgba(29, 10, 62, 12%);
  width: 29.25%;
  color: rgba(235, 235, 235, 75%);
}

.trainning .column {
  justify-content: flex-start;
  background-image: url(/cv/images/book.svg);
}

.trainning p {
  line-height: 1;
}

.trainning u {
  text-decoration: none;
  display: block;
  margin-bottom: 0.75em;
  opacity: 62.5%;
}

.trainning u strong {
  color: var(--primary-text-color);
}

.positions {
  --spacing: 0.4em;
  --max-item-width: 33.04025em;
  --expanse: calc(-1 * var(--spacing));

  justify-content: center;
  flex-wrap: wrap;
  margin: var(--expanse) auto;
  position: relative;
}

.positions > li {
  --color: rgba(255, 255, 255, 40%);
  --position-padding: 0.625em;

  margin: var(--spacing);
  flex: 1 1 auto;
  max-width: var(--max-item-width);
  padding: var(--position-padding);
  padding-bottom: 0.5em;
  border-radius: var(--border-radius);
  background-color: var(--color);
  color: var(--color);
}

.positions h2 {
  margin-left: calc((var(--spacing) + var(--position-padding)) / var(--font-ratio));
  margin-bottom: calc((1em - var(--spacing)) / var(--font-ratio));
}

.company {
  color: var(--primary-text-color);
  justify-content: space-between;
}

.group {
  color: var(--secondary-text-color);
}

.timelapse {
  justify-content: center;
}

.time:first-child:not(:only-child) {
  margin-right: auto;
}

.month {
  color: rgba(var(--secondary-text-color-rgb-components), 55%);
}

@media (min-width: 1441px) {
  .expertise .column:nth-child(2) p:first-child {
    max-width: 82.5%;
  }
  
  .expertise .column:last-child p:first-child {
    margin-top: 30%;
    max-width: 55.5%;
  }
}

@media (max-width: 1440px) {
  .expertise {
    margin-top: 2em;
  }
}

@media (min-width: 641px) and (max-width: 1440px) {
  .introductions {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    
    /* DEBUG *
    background-color: rgba(255, 255, 0, 12.5%);
    /* END DEBUG */
  }
}

@media (min-width: 961px) and (max-width: 1440px) {
  .introductions {
    flex-direction: column;
  }

  .demos {
    max-width: unset;
  }

  .demos-inner-wrapper {
    margin-left: auto;
  }

  .demo.avalon-a .demo-title,
  .demo.gare-o-loup .demo-title {
    color: var(--primary-text-color);
  }
}

@media (max-width: 960px) {
  header {
    flex-wrap: wrap;
  }

  .demos {
    margin-bottom: 10em;
  }

  .demos-inner-wrapper {
    max-width: 60vw;
    margin: 0 1.375em 0 auto;
  }

  .typical-apps,
  .trainning {
    width: unset;
  }

  .typical-apps {
    flex: 2;
  }

  .trainning {
    flex: 1;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  header > .demos {
    max-width: 64.08em;
  }

  .demos-inner-wrapper {
    max-width: 27.5em;
    margin: 0 13vw 0 auto;
  }
}

@media (max-width: 640px) {
  header,
  .expertise {
    justify-content: center;
  }

  .demos {
    margin-bottom: 6em;
  }

  .descriptions {
    display: block;
  }

  .description {
    display: inline-block;
  }

  .expertise .column:nth-child(2) {
    background-position: center right;
  }

  .expertise .column:last-child,
  .trainning .column {
    background-size: contain;
    background-position: center right;
  }

  .positions {
    max-width: var(--max-item-width);
  }
}

@media (min-width: 421px) and (max-width: 640px) {
  .demos-inner-wrapper {
    max-width: 52.5vw;
    margin-left: 10em;
  }
}
